<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <%- include("../Layout/bootstrap")%>
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   <div class="container">
    <div id="cart" >
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <div id="listCart">
            <% mylistCart.forEach((element,index) => { %>
                <p style="font-size: 15px;"><%=index+1%> . <%=element.product.name%> -  <%=element.item%></p>
            <% }); %>
        </div>
    </div>
   </div>
    <div class="container-fluid">
        <% listProduct.forEach(product => { %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%=product.img%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= product.name%></h5>
                    <p class="card-text" ><%= product.des%></p>
                    <a href="product/cart/<%=product.id%>" class="btn btn-primary">More</a>
                </div>
            </div>
        <% }); %>


        <!-- Ý tưởng là thế này : 
        - vì ta truyền href trực tiếp có query ? nên ta phải quy ước 2 đầu pre và next như code 
        - Khi nhấn vào các trang phía sau thì tiếp tục nhảy tới , nhưng đối với các trang phía trước thì không
        Vì như source thì +1 và +2 chỉ có thể tiếp tục tiến tới hỗ trợ cho next 
        Còn khi muốn lùi về thì phải viết riêng scripts ở script check khi nào nhấn btn nào thì di chuyển lại thuộc tính 
        - trang nào quá maxPage thì gán lại href ở scripts -->
        <nav aria-label="Page navigation example" style=" width: 100%; display: flex;justify-content: center;">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" id="prePage" href="/product?page=<%=page-1>=1 ? page-1 : page%>">Previous</a></li>
              <li class="page-item"><a class="page-link main" href="/product?page=<%=page <= maxPage ? page : ""%>"><%=page <= maxPage ? page : ""%></a></li>
              <li class="page-item"><a class="page-link main" href="/product?page=<%=page+1 <= maxPage ? page+1 : ""%>"><%=page+1 <= maxPage ? page+1 : ""%></a></li>
              <li class="page-item"><a class="page-link main" href="/product?page=<%=page+2 <= maxPage ? page+2 : ""%>"><%=page+2 <= maxPage ? page+2 : ""%></a></li>
              <li class="page-item"><a class="page-link" id="nextPage" href="/product?page=<%=page+1<= maxPage ? page+1 : page%>">Next</a></li>
            </ul>
          </nav>
    </div>


    <%- include("../Layout/bootstrapJS")%>


    <script>

        var allPage = document.getElementsByClassName("page-link main");

        if("<%=page%>"==(allPage[0].textContent) && allPage[0].textContent!='1'){
            allPage[2].href = allPage[1].href;
            allPage[2].textContent = allPage[1].textContent;
            allPage[1].href = allPage[0].href;
            allPage[1].textContent = allPage[0].textContent;
            allPage[0].href = "/product?page=<%=parseInt(page)-1%>";
            allPage[0].textContent = "<%=parseInt(page)-1%>";
        }

        for(let i = 0 ; i<allPage.length ; i++){
            if(allPage[i].getAttribute("href")==="/product?page="){
                allPage[i].textContent="";
                allPage[i].href="/product?page=<%=maxPage%>";
            }
        }
        


        // shopping cart
        var cart = document.getElementById("cart");
        var listCart = document.getElementById("listCart");
        cart.addEventListener("click",function(){
            listCart.classList.toggle("show");
        })


    </script>
</body>

</html>